<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/pomidor_style.css'%}" type="text/css">
    <title>Pomidor</title>
</head>
<body>
    <h1>Помидор</h1>
    <div>
        <div class="veg_description">Описание <br>
        Помидоры, они же — томаты, — сочные плоды, как правило имеющие красный цвет и круглую форму. В ботанике их принято относить к ягодам, однако в народе и при взимании торговых пошлин их называют овощами. В статье будем придерживаться второго варианта.
        Интересен тот факт, что изначально помидоры были желтыми, потом их привезли в Европу, и уже там, через пару сотен лет, они приобрели всем знакомый красный цвет. На сегодняшний день в мире насчитывается порядка 10 тысяч сортов, отличающихся по размерам, форме и цвету.
        Например, всем известна самая маленькая разновидность — помидоры черри. Маленькие, аккуратненькие и симпатичные помидорки используются как украшение многих блюд: канапе, тарталетки, закусочные шашлычки, бутерброды, салаты, мясные и рыбные блюда. Имеют насыщенный вкус и аромат.
        Полная противоположность черри — сорт бычье сердце. Это большие плоды, достигающие порой 15 сантиметров в диаметре. Плотные, мясистые и очень красивые. Замечательно подойдут для бургеров, сэндвичей и пиццы — везде, где нужны красивые большие тоненькие кружочки томатов.
        Обычные по размерам, но необычные по форме сливовидные сорта со своей мякотью, содержащей влаги меньше, чем остальные сорта, хороши для приготовления соусов, а также для завяливания и соления.
        Можно встретить и необычные по цвету оранжевые, желтые и зеленые разновидности томатов. Первые два довольно сладкие, а вот зеленые обладают приятной кислинкой. Такие сорта прекрасно подойдут как для салатов, так и для засолки.
        </div>
        <div></div>
    </div>
</body>
</html>