<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/price_style.css'%}">
    <title>Pricing table</title>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
</head>
<body>
    <div class="intro">
        <div class="header">
            <div class="header-text">
                Pricing Table
            </div>
            <div class="page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
            . Nunc quam uma, dignissim nec auctor in, mattis vitae leo</div>
        </div>
        <div class="box-container">
            <div class="box-item">
                <div class="box-header">BASIC</div>
                <div class="box-decs">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="box-conditions"><strong>Full Support:</strong> NO</div>
                <div class="box-conditions"><strong>Duration:</strong> 30 days</div>
                <div class="box-conditions"><strong>Storage:</strong> 10GB</div>
                <div class="price">$25</div>
                <div class="button">BUY NOW</div>
            </div>
            <div class="box-item"><div class="box-header">BASIC</div>
                <div class="box-decs">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="box-conditions"><strong>Full Support:</strong> NO</div>
                <div class="box-conditions"><strong>Duration:</strong> 30 days</div>
                <div class="box-conditions"><strong>Storage:</strong> 10GB</div>
                <div class="price">$25</div>
                <div class="button">BUY NOW</div></div>
            <div class="box-item"><div class="box-header">BASIC</div>
                <div class="box-decs">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="box-conditions"><strong>Full Support:</strong> NO</div>
                <div class="box-conditions"><strong>Duration:</strong> 30 days</div>
                <div class="box-conditions"><strong>Storage:</strong> 10GB</div>
                <div class="price">$25</div>
                <div class="button">BUY NOW</div></div>
        </div>
    </div>
</body>
</html>